.hero__overlay {
  display: flex;
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-header.jpg);
  background-color: $bg-hero;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hero__container {
  width: 646px;
}

.hero__btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  background-color: $color-link;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: $color-hero;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  color: $color-hero;
}