.color-logo {
  color: $color-logo;
}

.logo--color {
  color: $color-link;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: $color-logo;
}