.color-logo {
  color: $color-logo;
}

.logo--color {
  color: $color-link;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: $color-logo;

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }

}