.projects {
  display: none;
  padding-bottom: 94px;
  padding-top: 0;

  @media screen and (min-width:1200px) {
    display: block;
  }
}

.projects__image {
  &:last-child {
    margin-right: 0;
  }
}

.projects__item {
  position: relative;
  width: 370px;
  height: 294px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.projects__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.project__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.projects__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: $color-hero;
}

.projects__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  color: $color-main;
}