.teams__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  color: $color-main;
}

.teams {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $bg-section;
}

.teams__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.teams__image {
  display: block;
}

.teams__content {
  padding: 30px 32px;
}

.teams__items {
  width: calc((100% - 90px) / 4);
  background: $color-hero;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0;
  }
}

.teams__subtitle {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  color: $color-main;
}

.teams__text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16px;
  color: $color-secondary;
}

.social {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: space-around;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $color-link;

    .social__icon {
      fill: $color-hero;
    }
  }
}

.social__icon {
  fill: $icon-social;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}